<a href="https://colab.research.google.com/github/4060e059/pandas/blob/main/20201021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import numpy as np
import pandas as pd

s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [5]:
dates = pd.date_range('20201021', periods=6)
dates

DatetimeIndex(['2020-10-21', '2020-10-22', '2020-10-23', '2020-10-24',
               '2020-10-25', '2020-10-26'],
              dtype='datetime64[ns]', freq='D')

In [12]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2020-10-21  1.419509 -0.437513  0.989625  1.091851
2020-10-22 -0.126498  0.100913 -0.633212 -1.361303
2020-10-23  0.866730  1.491651  1.004542 -0.341879
2020-10-24 -1.274104 -0.672812 -0.246130 -0.989541
2020-10-25 -0.264954 -1.705687  0.440875 -1.929949
2020-10-26 -0.205629 -1.181676  0.171552  0.242268

In [16]:
df2 = pd.DataFrame({'A': 1.,
           'B': pd.Timestamp('20201021'),
           'C': pd.Series(1, index=list(range(4)), dtype='float32'),
           'D': np.array([3] * 4, dtype='int32'),
           'E': pd.Categorical(["test", "train", "test", "train"]),
           'F': 'foo'})
df2

     A          B    C  D      E    F
0  1.0 2020-10-21  1.0  3   test  foo
1  1.0 2020-10-21  1.0  3  train  foo
2  1.0 2020-10-21  1.0  3   test  foo
3  1.0 2020-10-21  1.0  3  train  foo

In [21]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [27]:
df.head()#頭部

                   A         B         C         D
2020-10-21  1.419509 -0.437513  0.989625  1.091851
2020-10-22 -0.126498  0.100913 -0.633212 -1.361303
2020-10-23  0.866730  1.491651  1.004542 -0.341879
2020-10-24 -1.274104 -0.672812 -0.246130 -0.989541
2020-10-25 -0.264954 -1.705687  0.440875 -1.929949

In [28]:
df.tail(3)#尾部

                   A         B         C         D
2020-10-24 -1.274104 -0.672812 -0.246130 -0.989541
2020-10-25 -0.264954 -1.705687  0.440875 -1.929949
2020-10-26 -0.205629 -1.181676  0.171552  0.242268

In [29]:
df.index

DatetimeIndex(['2020-10-21', '2020-10-22', '2020-10-23', '2020-10-24',
               '2020-10-25', '2020-10-26'],
              dtype='datetime64[ns]', freq='D')

In [30]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [31]:
df.to_numpy()

array([[ 1.41950906, -0.43751257,  0.98962495,  1.0918513 ],
       [-0.12649812,  0.10091272, -0.63321183, -1.36130302],
       [ 0.86673031,  1.49165098,  1.00454174, -0.34187918],
       [-1.27410384, -0.67281189, -0.24612958, -0.98954113],
       [-0.26495429, -1.70568722,  0.44087452, -1.92994926],
       [-0.20562941, -1.18167618,  0.17155211,  0.24226766]])

In [32]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.069176 -0.400854  0.287875 -0.548092
std    0.947559  1.115430  0.659783  1.106555
min   -1.274104 -1.705687 -0.633212 -1.929949
25%   -0.250123 -1.054460 -0.141709 -1.268363
50%   -0.166064 -0.555162  0.306213 -0.665710
75%    0.618423 -0.033694  0.852437  0.096231
max    1.419509  1.491651  1.004542  1.091851

In [33]:
df.T

   2020-10-21  2020-10-22  2020-10-23  2020-10-24  2020-10-25  2020-10-26
A    1.419509   -0.126498    0.866730   -1.274104   -0.264954   -0.205629
B   -0.437513    0.100913    1.491651   -0.672812   -1.705687   -1.181676
C    0.989625   -0.633212    1.004542   -0.246130    0.440875    0.171552
D    1.091851   -1.361303   -0.341879   -0.989541   -1.929949    0.242268

In [36]:
df2 = df.copy()
df2[df2 > 0] = -df2
df2

                   A         B         C         D
2020-10-21 -1.419509 -0.437513 -0.989625 -1.091851
2020-10-22 -0.126498 -0.100913 -0.633212 -1.361303
2020-10-23 -0.866730 -1.491651 -1.004542 -0.341879
2020-10-24 -1.274104 -0.672812 -0.246130 -0.989541
2020-10-25 -0.264954 -1.705687 -0.440875 -1.929949
2020-10-26 -0.205629 -1.181676 -0.171552 -0.242268

In [40]:
df.sort_index(axis=1, ascending=False)
df

                   A         B         C         D
2020-10-21  1.419509 -0.437513  0.989625  1.091851
2020-10-22 -0.126498  0.100913 -0.633212 -1.361303
2020-10-23  0.866730  1.491651  1.004542 -0.341879
2020-10-24 -1.274104 -0.672812 -0.246130 -0.989541
2020-10-25 -0.264954 -1.705687  0.440875 -1.929949
2020-10-26 -0.205629 -1.181676  0.171552  0.242268

In [41]:
df.sort_index(axis=0, ascending=False)
df

                   A         B         C         D
2020-10-21  1.419509 -0.437513  0.989625  1.091851
2020-10-22 -0.126498  0.100913 -0.633212 -1.361303
2020-10-23  0.866730  1.491651  1.004542 -0.341879
2020-10-24 -1.274104 -0.672812 -0.246130 -0.989541
2020-10-25 -0.264954 -1.705687  0.440875 -1.929949
2020-10-26 -0.205629 -1.181676  0.171552  0.242268